/* CSS for Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px; 
    position: fixed;
    /* background-color: #387fb93b; */
    z-index: 1500;

    /* height: 100%; */
    width: 100%;
    background-color: #e9d0ff38;
    border-radius: 8px; /* Adjust if needed */
    background-clip: padding-box;
    backdrop-filter: blur(10px); /* Apply blur */
    border-bottom: 1px solid #e0e0e09d; 
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    list-style: none;
    font-size: 20px;
    gap: 60px;
    flex-direction: row;
   
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #ffffff;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    /* flex-direction: center; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}
.anchor-link:hover {
    text-decoration: none;
    color: rgb(235, 206, 206);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

.lanBtn {
    border: none;
    color: white;
    border-radius: 10px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    font-size: 18px;
    padding: 16px 18px;
    cursor: pointer;
    transition: 0.3s;
}
.lanBtn:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.lang-selector {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 55px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.308);
    padding: 5px 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    transition: 0.3s ease-in-out;
}

.dropdown-menu div {
    padding: 10px;
    cursor: pointer;
    transition: backgrund 0.5s ease-in-out;
}

.dropdown-menu div:hover {
    background: #bebebe;
}





@media (max-width: 768px) {
    .navbar {
        padding: 0 10px; /* Adjusted padding */
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 3;
    }

    .nav-mob-close {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 4; /* Higher z-index for close button */
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 80%;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -80%; /* Adjusted initial position */
    }

    .nav-menu.show {
        right: 0;
    }

    .nav-menu li {
        font-size: 30px;
        padding: 10px 20px;
        gap: 20px;
    }
}
